# Python
__pycache__/
*.pyc
*.pyo
.venv/
*.egg-info/

# Env
.env
.env.local
.env.*.local

# Alembic
alembic/versions/*.pyc

# Node
node_modules/
dist/
dist-ssr/
.cache/

# Build
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.swp
